{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>7-ELEVEN:할인정보 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    {% include "./layout/font.html" %}

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/sale2.css' %}">
</head>

<body>

    <!-- nav -->
    {% include "./layout/nav.html" %}

    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">할인정보</span> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        7-ELEVEN
    </div>

    <!-- left_menu -->

    {% include "./layout/left_menu.html" %}

    <!--section part-->
    <div class="allsection">

        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/711logo.png' %}">
        </div>

        <!--left-->
        <div class="depth3Lnb">
            <ul class="eventInfo">
                <li class="eventInfo_01"><a href="{% url 'sale' %}">GS25</a></li>
                <li class="eventInfo_02"><a href="{% url '7-Eleven' %}">7-ELEVEN</a></li>
                <li class="eventInfo_03"><a href="{% url 'CU' %}">CU</a></li>
            </ul>
        </div>



        <!--상품-->
        <ul class="list1">

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/203884.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>PB)수박우유300ml</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/885877.1.jpg' %}" alt="8801094202606.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>망고에이드300ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/885884.1.jpg' %}" alt="8806371301614.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>자몽에이드300ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/302739.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>닥터캡슐플레인130ml</p>
                            </div>
                            <div class="price"><strong>1,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/204232.1.jpg' %}" alt="8801094202606.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>포도와야채365 180ml</p>
                            </div>
                            <div class="price"><strong>2,600</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/201767.1.jpg' %}" alt="8806371301614.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>사과와야채365 180ml</p>
                            </div>
                            <div class="price"><strong>2,600</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/767122.1.jpg' %}" alt="8801123103454.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>요거트플레인 250ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/767139.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>요거트딸기 250ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/770757.1.jpg' %}" alt="8801094202606.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>요거트블루베리 250ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/1+1/308281.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>요플레토핑다크초코 125g</p>
                            </div>
                            <div class="price"><strong>630</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>




            <!--2+1-->
            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/069883.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>모닝두부1800</p>
                            </div>
                            <div class="price"><strong>1,800</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/850150.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>스모크스트링치즈 24g</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/11493.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>스트링저지방치즈 28g</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/822828.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>드링킹베리믹스 300ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/822941.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>드링킹플레인 300ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/114308.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>썬업과일야채퍼플컵 190ml</p>
                            </div>
                            <div class="price"><strong>1,800</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/752296.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>썬업과일야채레드컵 190ml</p>
                            </div>
                            <div class="price"><strong>1,800</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/834616.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>인포켓치즈20g</p>
                            </div>
                            <div class="price"><strong>1,400</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/500623.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>따옴오렌지 35ml</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/7eleven/2+1/500647.1.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>따옴사과</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

        </ul>
    </div>


    <a href="https://www.7-eleven.co.kr/product/presentList.asp"><i class="fa-solid fa-plus control"></i></a>




    <!--footer-->
    {% include "./layout/footer.html" %}
</body>

</html>