{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>CU:할인정보 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/sale3.css' %}">
</head>

<body>

    <!-- nav -->
    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="{% url 'sitemap' %}">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

                    <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

                    <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

                    <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

                    <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">할인정보</span> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        CU
    </div>

      <!-- left_menu -->

      <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="/information/과일/사과/">사과</a>
                        <a href="/information/과일/배/">배</a>
                        <a href="/information/과일/레몬/">레몬</a>
                        <a href="/information/과일/파인애플/">파인애플</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="/information/채소/당근/">당근</a>
                        <a href="/information/채소/파/">대파</a>
                        <a href="/information/채소/마늘/">마늘</a>
                        <a href="/information/채소/양파/">양파</a>
                        <a href="/information/채소/오이/">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="/information/쌀_잡곡/쌀/">일반미</a>
                        <a href="/information/쌀_잡곡/찹쌀/">찹쌀</a>
                        <a href="/information/쌀_잡곡/콩/">콩</a>
                        <a href="/information/쌀_잡곡/고구마/">고구마</a>
                        <a href="/information/쌀_잡곡/감자/">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="/information/수산물/고등어/">고등어</a>
                        <a href="/information/수산물/갈치/">갈치</a>
                        <a href="/information/수산물/조기/">조기</a>
                        <a href="/information/수산물/물오징어/">물오징어</a>
                        <a href="/information/수산물/새우/">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <!--section part-->
    <div class="allsection">

        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/CUlogo.png' %}">
        </div>

        <!--left-->
        <div class="depth3Lnb">
            <ul class="eventInfo">
                <li class="eventInfo_01"><a href="{% url 'sale' %}">GS25</a></li>
                <li class="eventInfo_02"><a href="{% url '7-Eleven' %}">7-ELEVEN</a></li>
                <li class="eventInfo_03"><a href="{% url 'CU' %}">CU</a></li>
            </ul>
        </div>



         <!--상품-->
         <ul class="list1">

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8801123205219.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>빅팜60g</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8806371304264.jpg' %}" alt="8801094202606.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>카페베네라떼 200ml</p>
                            </div>
                            <div class="price"><strong>1,600</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8806371304271.jpg' %}" alt="8806371301614.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>카페베네모카 200ml</p>
                            </div>
                            <div class="price"><strong>1,600</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/2AC9ABD80E8843AE9BA16695324431F2.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>게토레이레몬 P1.5L</p>
                            </div>
                            <div class="price"><strong>3,200</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8806371305452.jpg' %}" alt="8801094202606.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>카페베네카라멜 200ml</p>
                            </div>
                            <div class="price"><strong>1,600</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8801051009033.jpg' %}" alt="8806371301614.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>초극세모칫솔</p>
                            </div>
                            <div class="price"><strong>3,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8806403146473.jpg' %}" alt="8801123103454.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>치석케어치약</p>
                            </div>
                            <div class="price"><strong>4,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8801042443631.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>센서티브칫솔</p>
                            </div>
                            <div class="price"><strong>3,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8801046057216.jpg' %}" alt="8801094202606.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>2080칫솔</p>
                            </div>
                            <div class="price"><strong>2,800</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/1+1/8801046846087.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>2080치약</p>
                            </div>
                            <div class="price"><strong>3,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>




            <!--2+1-->
            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/1.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>크라운)키커바</p>
                            </div>
                            <div class="price"><strong>1,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/2.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>레모나산10입</p>
                            </div>
                            <div class="price"><strong>3,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/3.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>연양갱</p>
                            </div>
                            <div class="price"><strong>900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/4.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>왓따콜라풍선껌</p>
                            </div>
                            <div class="price"><strong>500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/5.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>리콜라허브레몬</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/6.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>녹차파인트</p>
                            </div>
                            <div class="price"><strong>12,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/7.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>딸기파인트</p>
                            </div>
                            <div class="price"><strong>12,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/8.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>초콜리파인트</p>
                            </div>
                            <div class="price"><strong>12,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/9.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>본가찰옥수수</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/CU/2+1/10.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>부라보바닐라콘</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

        </ul>
    </div>


    <a href="https://cu.bgfretail.com/event/plus.do?category=event&depth2=1&sf=N"><i class="fa-solid fa-plus control"></i></a>




    <!-- footer -->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>
</body>

</html>