<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="./logo,img/webicon2.png">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="./javascript/jquery-1.12.4.js"></script>
    <script src="./javascript/custom.js"></script>

    <!--css-->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    <!-- nav -->

    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="index.html">HOME</a><a href="#"></a>|<a href="sitemap.html">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="index.html">
                    <img src="./logo,img/logo/Logo.png" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="information.html" class="btn1">물가정보</a></li>

                    <li><a href="newspage.html" class="btn2">뉴스기사</a></li>

                    <li><a href="sale.html" class="btn3">할인정보</a></li>

                    <li><a href="Q&A.html" class="btn4">고객센터</a></li>

                    <li><a href="search.html" class="btn5"><img src="./logo,img/돋보기.png"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!-- left_menu -->

    <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="./logo,img/바로가기_left.png">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="secondpage/fruit-secondpage/fruit-apple.html">사과</a>
                        <a href="secondpage/fruit-secondpage/fruit-pear.html">배</a>
                        <a href="secondpage/fruit-secondpage/fruit-orientalmelon.html">참외</a>
                        <a href="secondpage/fruit-secondpage/fruit-watermelon.html">수박</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="secondpage/vegetable-secondpage/vegetable-potato.html">감자</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-sweetpotato.html">고구마</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-carrot.html">당근</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-greenonion.html">대파</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-garlic.html">마늘</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-daikon.html">무</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-lettuce.html">상추</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-onion.html">양파</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-cucumber.html">오이</a>
                        <a href="secondpage/vegetable-secondpage/vegetable-beansprouts.html">콩나물</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="secondpage/rice-secondpage/rice-white.html">백미</a>
                        <a href="secondpage/rice-secondpage/rice-barleycorn.html">보리쌀</a>
                        <a href="secondpage/rice-secondpage/rice-sticky.html">찹쌀</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="secondpage/fish-secondpage/fish-mackerel.html">고등어</a>
                        <a href="secondpage/fish-secondpage/fish-hairtail.html">갈치</a>
                        <a href="secondpage/fish-secondpage/fish-croaker.html">조기</a>
                        <a href="secondpage/fish-secondpage/fish-frozenpollack.html">동태</a>
                        <a href="secondpage/fish-secondpage/fish-squid.html">오징어</a>
                        <a href="secondpage/fish-secondpage/fish-clam.html">바지락</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <!-- banner / section1 -->
    <div class="wrap1">
        <div class="banner">
            <a href="#" class="banner1"><img src="./logo,img/주요물가변동그래프 제목.png" alt="banner1"></a>
            <br><br>
            <a href="#" class="banner2"><img src="./logo,img/maingraph.png" alt="banner2"></a>
        </div>
    </div>
    <div class="square"></div>




    <!--section2 -->
    <div class="second">
        <div class="second_inner">
            <img class="newstitle" src="./logo,img/오늘의 뉴스.png">
            <img class="illustration" src="./logo,img/newsillustration.png">
            <a href="https://www.hankyung.com/economy/article/2022071083561">
                <img class="newsmain1" src="./logo,img/mainnews.png"></a>
        </div>

        <div class="second_inner2">
            <img class="newssub2" src="./logo,img/newssub1.png">
            <img class="newssub3" src="./logo,img/newssub2.png">
        </div>
    </div>
    <a href="newspage.html"><i class="fa-solid fa-plus control"></i></a>
    <img class="eclipse" src="./logo,img/newseclipse.png">





    <!--section3-->

    <div class="section3">
        <a href="https://www.10000recipe.com/"><img class="recipe" src="./logo,img/추천레시피.png"></a>

        <a href="https://www.sbiz.or.kr/sijangtong/nation.do"><img class="traditional" src="./logo,img/전통시장.png"></a>

        <a href="http://www.nongsaro.go.kr/portal/ps/psr/psrb/monthFdLst.ps?menuId=PS03924"><img class="ingredients"
                src="./logo,img/식재료 노하우.png"></a>

        <a href="http://www.realfoods.co.kr/"><img class="topic" src="./logo,img/푸드토픽4.png"></a>
    </div>





    <!--section4-->

    <div class="fourth">
        <div class="fourth_inner">

            <!--공지사항-->
            <div class="notice">
                <img class="apple" src="./logo,img/apple.png">
                <img class="notice_title" src="./logo,img/공지사항.png">
                <span class="small10"><i class="fa-solid fa-clock"></i> 2022-08-17</span>
                <p class="sizesmall">바스켓 'SEOUL 테스트 확인</p>
                <a class="arrow" href="Q&A.html">
                    <div class="notice_arrow">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </div>
                </a>
            </div>

            <!--바로가기-->
            <div class="service">
                <img class="grapes" src="./logo,img/grapes.png">
                <img class="service_title" src="./logo,img/바로가기.png">
                <div class="s_inner">
                    <p>지금 바로 장보러 떠나세요!</p>
                    <div class="shopping">
                        <a href="https://www.coupang.com/"><img class="cp" src="./logo,img/쿠팡_go.png"></a> &nbsp;&nbsp;
                        <a href="https://www.kurly.com/"><img class="mc" src="./logo,img/마켓컬리_go.png"></a> &nbsp;&nbsp;
                        <a href="http://www.gmarket.co.kr/"><img class="gm" src="./logo,img/gmarket_go.png"></a>
                        &nbsp;&nbsp;
                        <a href="https://emart.ssg.com/"><img class="ssg" src="./logo,img/ssg_go.png"></a>
                    </div>
                </div>
            </div>

            <!--이용문의-->
            <div class="how">
                <img class="salad" src="./logo,img/salad.png">
                <img class="how_title" src="./logo,img/이용문의.png">
                <img class="number" src="./logo,img/number.png">
                <br>
                <img class="h_adress" src="./logo,img/adress.png">
            </div>

        </div>
    </div>










    <!--footer-->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>

</body>
</html>