{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

    <!-- nav -->

    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="{% url 'sitemap' %}">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

                    <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

                    <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

                    <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

                    <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!-- left_menu -->

    <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="{% url 'fruit-apple' %}">사과</a>
                        <a href="{% url 'fruit-pear' %}">배</a>
                        <a href="fruit-peach.html">복숭아</a>
                        <a href="fruit-grapes.html">포도</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="{% url 'vegetable-carrot' %}">당근</a>
                        <a href="{% url 'vegetable-greenonion' %}">대파</a>
                        <a href="{% url 'vegetable-garlic' %}">마늘</a>
                        <a href="{% url 'vegetable-daikon' %}">무</a>
                        <a href="{% url 'vegetable-cabbage' %}">배추</a>
                        <a href="{% url 'vegetable-onion' %}">양파</a>
                        <a href="{% url 'vegetable-cucumber' %}">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="{% url 'rice-white' %}">일반미</a>
                        <a href="{% url 'rice-sticky' %}">찹쌀</a>
                        <a href="{% url 'rice-bean' %}">콩</a>
                        <a href="{% url 'rice-sweetpotato' %}">고구마</a>
                        <a href="{% url 'rice-potato' %}">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="{% url 'fish-mackerel' %}">고등어</a>
                        <a href="{% url 'fish-hairtail' %}">갈치</a>
                        <a href="{% url 'fish-croaker' %}">꽁치</a>
                        <a href="fish-squid.html">물오징어</a>
                        <a href="{% url 'fish-shrimp' %}">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <!-- banner / section1 -->
    <div class="wrap1">
        <div class="banner">
            <a href="#" class="banner1"><img src="{% static 'logo,img/주요물가변동그래프제목.png' %}" alt="banner1"></a>
            <br><br>
            <a href="#" class="banner2"><img src="{% static 'logo,img/maingraph.png' %}" alt="banner2"></a>
        </div>
    </div>
    <div class="square"></div>




    <!--section2 -->
    <div class="second">
        <div class="second_inner">
            <img class="newstitle" src="{% static 'logo,img/오늘의뉴스.png' %}">
            <img class="illustration" src="{% static 'logo,img/newsillustration.png' %}">
            <a href="https://www.hankyung.com/economy/article/2022071083561">
                <img class="newsmain1" src="{% static 'logo,img/mainnews.png' %}"></a>
        </div>

        <div class="second_inner2">
            <a href="https://news.kmib.co.kr/article/view.asp?arcid=0017265752&code=61141111&cp=nv"><img
                    class="newssub2" src="{% static 'logo,img/newssub1.png' %}"></a>
            <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=34109659&memberNo=37570062"><img
                    class="newssub3" src="{% static 'logo,img/newssub2.png' %}"></a>
        </div>
    </div>
    <a href="{% url 'news' %}"><i class="fa-solid fa-plus control"></i></a>
    <img class="eclipse" src="{% static 'logo,img/newseclipse.png' %}">





    <!--section3-->

    <div class="section3">
        <a href="https://www.10000recipe.com/"><img class="recipe" src="{% static 'logo,img/추천레시피.png' %}"></a>

        <a href="https://www.sbiz.or.kr/sijangtong/nation.do"><img class="traditional" src="{% static 'logo,img/전통시장.png' %}"></a>

        <a href="http://www.nongsaro.go.kr/portal/ps/psr/psrb/monthFdLst.ps?menuId=PS03924"><img class="ingredients"
                src="{% static 'logo,img/식재료노하우.png' %}"></a>

        <a href="http://www.realfoods.co.kr/"><img class="topic" src="{% static 'logo,img/푸드토픽4.png' %}"></a>
    </div>





    <!--section4-->

    <div class="fourth">
        <div class="fourth_inner">

            <!--공지사항-->
            <div class="notice">
                <img class="apple" src="{% static 'logo,img/공지사항icon.png' %}">
                <img class="notice_title" src="{% static 'logo,img/공지사항.png' %}">
                <span class="small10"><i class="fa-solid fa-clock"></i> 2022-08-17</span>
                <p class="sizesmall">바스켓 'SEOUL 테스트 확인</p>
                <a class="arrow" href="{% url 'QnA' %}">
                    <div class="notice_arrow">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </div>
                </a>
            </div>

            <!--바로가기-->
            <div class="service">
                <img class="grapes" src="{% static 'logo,img/shoppingbag.png' %}">
                <img class="service_title" src="{% static 'logo,img/바로가기.png' %}">
                <div class="s_inner">
                    <p>지금 바로 장보러 떠나세요!</p>
                    <div class="shopping">
                        <a href="https://www.coupang.com/"><img class="cp" src="{% static 'logo,img/쿠팡_go.png' %}"></a> &nbsp;&nbsp;
                        <a href="https://www.kurly.com/"><img class="mc" src="{% static 'logo,img/마켓컬리_go.png' %}"></a> &nbsp;&nbsp;
                        <a href="http://www.gmarket.co.kr/"><img class="gm" src="{% static 'logo,img/gmarket_go.png' %}"></a>
                        &nbsp;&nbsp;
                        <a href="https://emart.ssg.com/"><img class="ssg" src="{% static 'logo,img/ssg_go.png' %}"></a>
                    </div>
                </div>
            </div>

            <!--이용문의-->
            <div class="how">
                <img class="salad" src="{% static 'logo,img/이용문의icon.png' %}">
                <img class="how_title" src="{% static 'logo,img/이용문의.png' %}">
                <img class="number" src="{% static 'logo,img/number.png' %}">
                <br>
                <img class="h_adress" src="{% static 'logo,img/adress.png' %}">
            </div>

        </div>
    </div>










    <!--footer-->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>

</body>

</html>