{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>물가정보 - 바스켓 'SEOUL</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

  <!--font-->
  {% include "./layout/font.html" %}

  <!--javascript-->
  <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'javascript/information.table.js' %}"></script>

  <!--css-->
  <link rel="stylesheet" href="{% static 'css/infomation.css' %}">
</head>

<body>

  <!-- nav -->
  {% include "./layout/nav.html" %}



  <!--nav_bottom-->
  <div class="nav_bottom">
    <i class="fas fa-home"></i> &nbsp;
    <i class="fa-solid fa-angle-right"></i> &nbsp;
    <span class="allmenu">물가정보</span>
  </div>




  <!-- left_menu -->

  {% include "./layout/left_menu.html" %}

  <!--section part-->

  <body>

    <div class="title">
      <img src="{% static 'logo,img/물가정보로고.png' %}">
    </div>

    <div class="tabs">
      <input type="radio" name="tabmenu" id="tab01" onclick="getTable(this.id);" checked>
      <label for="tab01"><img class="tab-img-01"><br>과일</label>

      <input type="radio" name="tabmenu" id="tab02" onclick="getTable(this.id);">
      <label for="tab02"><img class="tab-img-02"><br>채소</label>

      <input type="radio" name="tabmenu" id="tab03" onclick="getTable(this.id);">
      <label for="tab03"><img class="tab-img-03"><br>쌀/잡곡</label>

      <input type="radio" name="tabmenu" id="tab04" onclick="getTable(this.id);">
      <label for="tab04"><img class="tab-img-04"><br>수산물</label>

      <div class="conbox">
        <table id="table">
          <thead>
            <tr>
              <th>품목명</th>
              <th>단위</th>
              <th>전월가</th>
              <th>현재가</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>


  <!--footer-->
  {% include "./layout/footer.html" %}
</body>

</html>