{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>물가정보 - 바스켓 'SEOUL</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

  <!--font-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

  <!--javascript-->
  <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'javascript/information.table.js' %}"></script>

  <!--css-->
  <link rel="stylesheet" href="{% static 'css/infomation.css' %}">
</head>

<body>

  <!-- nav -->
  <header>
    <div class="header_tiny">
      <div class="tiny_menu">
        <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="{% url 'sitemap' %}">전체메뉴</a>
      </div>
    </div>

    <div class="first">
      <div class="logo">
        <a href="{% url 'index' %}">
          <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
        </a>
      </div>

      <div class="lnb">
        <ul class="main_menu">
          <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

          <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

          <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

          <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

          <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

        </ul>
      </div>
    </div>
  </header>



  <!--nav_bottom-->
  <div class="nav_bottom">
    <i class="fas fa-home"></i> &nbsp;
    <i class="fa-solid fa-angle-right"></i> &nbsp;
    <span class="allmenu">물가정보</span>
  </div>


  
       <!-- left_menu -->

       <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="/information/과일/사과/">사과</a>
                        <a href="/information/과일/배/">배</a>
                        <a href="/information/과일/레몬/">레몬</a>
                        <a href="/information/과일/파인애플/">파인애플</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="/information/채소/당근/">당근</a>
                        <a href="/information/채소/파/">대파</a>
                        <a href="/information/채소/마늘/">마늘</a>
                        <a href="/information/채소/양파/">양파</a>
                        <a href="/information/채소/오이/">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="/information/쌀_잡곡/쌀/">일반미</a>
                        <a href="/information/쌀_잡곡/찹쌀/">찹쌀</a>
                        <a href="/information/쌀_잡곡/콩/">콩</a>
                        <a href="/information/쌀_잡곡/고구마/">고구마</a>
                        <a href="/information/쌀_잡곡/감자/">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="/information/수산물/고등어/">고등어</a>
                        <a href="/information/수산물/갈치/">갈치</a>
                        <a href="/information/수산물/꽁치/">꽁치</a>
                        <a href="/information/수산물/물오징어/">물오징어</a>
                        <a href="/information/수산물/새우/">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

  <!--section part-->

  <body>

    <div class="title">
      <img src="{% static 'logo,img/물가정보로고.png' %}">
    </div>

    <div class="tabs">
      <input type="radio" name="tabmenu" id="tab01" onclick="getTable(this.id);" checked>
      <label for="tab01"><img class="tab-img-01"><br>과일</label>

      <input type="radio" name="tabmenu" id="tab02" onclick="getTable(this.id);">
      <label for="tab02"><img class="tab-img-02"><br>채소</label>

      <input type="radio" name="tabmenu" id="tab03" onclick="getTable(this.id);">
      <label for="tab03"><img class="tab-img-03"><br>쌀/잡곡</label>

      <input type="radio" name="tabmenu" id="tab04" onclick="getTable(this.id);">
      <label for="tab04"><img class="tab-img-04"><br>수산물</label>

      <div class="conbox">
        <table id="table">
          <thead>
            <tr>
              <th>품목명</th>
              <th>단위</th>
              <th>전월가</th>
              <th>현재가</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>


  <!-- footer -->
  <div class="footer">
    <div class="f_wrap">
      <div class="wrap2">
        <div class="tiny_footer">
          <a class="personal" href="#">개인정보처리방침</a>
          &nbsp;·&nbsp;
          <a class="email" href="#">이메일무단수집거부</a>
        </div>
      </div>
      <div class="adress">
        <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
        <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
      </div>
    </div>
  </div>
</body>

</html>