{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>뉴스기사 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/newspage.css' %}">
</head>

<body>

    <!-- nav -->
    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="{% url 'sitemap' %}">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

                    <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

                    <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

                    <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

                    <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">뉴스기사</span>
    </div>

    <!-- left_menu -->

    <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="{% url 'fruit-apple' %}">사과</a>
                        <a href="{% url 'fruit-pear' %}">배</a>
                        <a href="{% url 'fruit-peach' %}">복숭아</a>
                        <a href="{% url 'fruit-grapes' %}">포도</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="{% url 'vegetable-carrot' %}">당근</a>
                        <a href="{% url 'vegetable-greenonion' %}">대파</a>
                        <a href="{% url 'vegetable-garlic' %}">마늘</a>
                        <a href="{% url 'vegetable-daikon' %}">무</a>
                        <a href="{% url 'vegetable-cabbage' %}">배추</a>
                        <a href="{% url 'vegetable-onion' %}">양파</a>
                        <a href="{% url 'vegetable-cucumber' %}">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="{% url 'rice-white' %}">일반미</a>
                        <a href="{% url 'rice-sticky' %}">찹쌀</a>
                        <a href="{% url 'rice-bean' %}">콩</a>
                        <a href="{% url 'rice-sweetpotato' %}">고구마</a>
                        <a href="{% url 'rice-potato' %}">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="{% url 'fish-mackerel' %}">고등어</a>
                        <a href="{% url 'fish-hairtail' %}">갈치</a>
                        <a href="{% url 'fish-croaker' %}">꽁치</a>
                        <a href="{% url 'fish-squid' %}">물오징어</a>
                        <a href="{% url 'fish-shrimp' %}">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--section part-->
    <div class="allsection">



        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/뉴스기사로고.png' %}">
        </div>



        <!--tabmenu-->
        <div class="tab_menu">
            <div class="tab_menu1">최신기사</div>
            <div class="tab_menu2">인기기사</div>
        </div>

        <hr width="1250px">



        <!--article-->
        <div class="article">

            <div class="first">
                <a href="#none">
                    <p class="first_1">국내 수출기업 절반 이상 "ESG 미흡으로 계약·수주 파기 위기감 느껴"</p>
                </a>
                <img class="ss1" src="{% static 'logo,img/news/1.png' %}" width="182px" height="112px">
            </div>

            <hr width="1250px">

            <div class="second">
                <p class="second_2">경총 "불법행위 대우조선 하청노조에 공권력 집행 나서야"</p>
                <img class="ss2" src="{% static 'logo,img/news/2.jpg' %}" width="202px" height="112px">
            </div>

            <hr width="1250px">

            <div class="third">
                <p class="third_3">테슬라 독주 벌써 끝나나...벤츠·BMW 수입 전기차 '맹추격'</p>
                <img class="ss2" src="{% static 'logo,img/news/3.jpg' %}" width="182px" height="112px">
            </div>

            <hr width="1250px">

            <div class="fourth">
                <p class="fourth_4">LG가 만든 AI 디자이너 '틸다', 세계 3대 광고제에서 금·은 수상</p>
                <img class="ss4" src="{% static 'logo,img/news/4.jpg' %}" width="235px" height="112px">
            </div>

            <hr width="1250px">

            <div class="fifth">
                <p class="fifth_5">국가전략기술 외국인투자 지원 확대…투자금의 최대 50%</p>
                <img class="ss2" src="{% static 'logo,img/news/5.jpg' %}" width="182px" height="112px">
            </div>

            <hr width="1250px">

            <div class="sixth">
                <p class="sixth_6">19일 만나는 추경호·옐런, '통화스와프' 논의 여부에 촉각</p>
                <img class="ss6" src="{% static 'logo,img/news/6.jpg' %}" width="235px" height="112px">
            </div>

            <hr width="1250px">

            <div class="seven">
                <p class="seven_7">"천연가스발 침체 우려 커지는 EU... 내년 마이너스 성장 가능성"</p>
                <img class="ss7" src="{% static 'logo,img/news/7.jpg' %}" width="230px" height="112px">
            </div>

            <hr width="1250px">

            <div class="eight">
                <p class="eight_8">BMW 전기차 시대 이끈 'i3', 홈런 에디션으로 끝맺는다</p>
                <img class="ss8" src="{% static 'logo,img/news/8.jpg' %}" width="235px" height="112px">
            </div>

            <hr width="1250px">

            <div class="nine">
                <p class="nine_9">IMF, 세계경제 추가 하락 예고..."한국 둔화폭 적을 것"</p>
                <img class="ss9" src="{% static 'logo,img/news/9.jpg' %}" width="182px" height="112px">
            </div>

            <hr width="1250px">

            <div class="ten">
                <p class="ten_10">박일준 산업부 차관 "올여름 전력수급 큰 문제 없어"</p>
                <img class="ss10" src="{% static 'logo,img/news/10.jpg' %}" width="235px" height="112px">
            </div>
        </div>

        <a href="https://www.hankyung.com/"><i class="fa-solid fa-plus control"></i></a>

    </div>




    <!-- footer -->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>
</body>

</html>