{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>감자 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'javascript/detailsinformation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/secondpage.css' %}">
</head>

<body>

    <!-- nav -->

    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="sitemap.html">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

                    <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

                    <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

                    <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

                    <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>




    <!-- left_menu -->

    <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="{% url 'fruit-apple' %}">사과</a>
                        <a href="{% url 'fruit-pear' %}">배</a>
                        <a href="fruit-peach.html">복숭아</a>
                        <a href="fruit-grapes.html">포도</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="{% url 'vegetable-carrot' %}">당근</a>
                        <a href="{% url 'vegetable-greenonion' %}">대파</a>
                        <a href="{% url 'vegetable-garlic' %}">마늘</a>
                        <a href="{% url 'vegetable-daikon' %}">무</a>
                        <a href="{% url 'vegetable-cabbage' %}">배추</a>
                        <a href="{% url 'vegetable-onion' %}">양파</a>
                        <a href="{% url 'vegetable-cucumber' %}">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="{% url 'rice-white' %}">ㅇ리반미</a>
                        <a href="{% url 'rice-sticky' %}">찹쌀</a>
                        <a href="{% url 'rice-bean' %}">콩</a>
                        <a href="{% url 'rice-sweetpotato' %}">고구마</a>
                        <a href="{% url 'rice-potato' %}">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="{% url 'fish-mackerel' %}">고등어</a>
                        <a href="{% url 'fish-hairtail' %}">갈치</a>
                        <a href="{% url 'fish-croaker' %}">꽁치</a>
                        <a href="fish-squid.html">물오징어</a>
                        <a href="{% url 'fish-shrimp' %}">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="title">
        <h1>감자</h1>
    </div>

    <div class="tabs">
        <div class="conbox">
            <table id="table">
                <thead>
                    <tr>
                        <th>품목</th>
                        <th>품종명</th>
                        <th>날짜</th>
                        <th>전월가</th>
                        <th>현재가</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>













    <!--footer-->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>

</body>

</html>