<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>GS25:할인정보 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/sale.css' %}">
</head>

<body>

    <!-- nav -->
    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="index.html">HOME</a><a href="#"></a>|<a href="sitemap.html">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="index.html">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="information.html" class="btn1">물가정보</a></li>

                    <li><a href="newspage.html" class="btn2">뉴스기사</a></li>

                    <li><a href="sale.html" class="btn3">할인정보</a></li>

                    <li><a href="Q&A.html" class="btn4">고객센터</a></li>

                    <li><a href="search.html" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">할인정보</span> &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        GS25
    </div>

    <!-- left_menu -->

    <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="fruit-apple.html">사과</a>
                        <a href="fruit-pear.html">배</a>
                        <a href="fruit-peach.html">복숭아</a>
                        <a href="fruit-grapes.html">포도</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="vegetable-carrot.html">당근</a>
                        <a href="vegetable-greenonion.html">대파</a>
                        <a href="vegetable-garlic.html">마늘</a>
                        <a href="vegetable-daikon.html">무</a>
                        <a href="vegetable-cabbage.html">배추</a>
                        <a href="vegetable-onion.html">양파</a>
                        <a href="vegetable-cucumber.html">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="rice-white.html">일반미</a>
                        <a href="rice-sticky.html">찹쌀</a>
                        <a href="rice-bean.html">콩</a>
                        <a href="rice-sweetpotato.html">고구마</a>
                        <a href="rice-potato.html">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="fish-mackerel.html">고등어</a>
                        <a href="fish-hairtail.html">갈치</a>
                        <a href="fish-croaker.html">꽁치</a>
                        <a href="fish-squid.html">물오징어</a>
                        <a href="fish-shrimp.html">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <!--section part-->
    <div class="allsection">

        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/gs25logo.png' %}">
        </div>

        <!--left-->
        <div class="depth3Lnb">
            <ul class="eventInfo">
                <li class="eventInfo_01"><a href="sale.html">GS25</a></li>
                <li class="eventInfo_02"><a href="7-Eleven.html">7-ELEVEN</a></li>
                <li class="eventInfo_03"><a href="CU.html">CU</a></li>
            </ul>
        </div>



        <!--상품-->
        <ul class="list1">

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/씨그램레몬.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>씨그램레몬탄산수350ML</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/씨그램라임.jpg' %}" alt="8801094202606.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>씨그램라임탄산수350ML</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/녹차녹차돌자반.jpg' %}" alt="8806371301614.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>녹차돌자반55G</p>
                            </div>
                            <div class="price"><strong>3,300</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/파래파래돌자반.jpg' %}" alt="8801123103454.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>파래돌자반55G</p>
                            </div>
                            <div class="price"><strong>3,300</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/끌레도르딥초콜릿.jpg' %}" alt="8801047161677.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>비타500로열폴리스120ML</p>
                            </div>
                            <div class="price"><strong>1,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/끌레도르설향딸기.jpg' %}" alt="8801094202606.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>끌레도르설향딸기90ML</p>
                            </div>
                            <div class="price"><strong>4,300</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/바삭바삭대추.jpg' %}" alt="8806371301614.jpg" class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>바삭바삭대추100G</p>
                            </div>
                            <div class="price"><strong>7,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8804645006098_001.jpg' %}" alt="8801123103454.jpg"
                                class="prod_img"> <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>자몽아이스티제로500ML</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8804645006104_001.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img"> <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>복숭아아이스티제로500ML</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8859103400055_001.jpg' %}" alt="8801094202606.jpg"
                                class="prod_img"> <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>전갱이포3500</p>
                            </div>
                            <div class="price"><strong>3,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
                </li>
            </div>

            <div class="prod_list" style="width: 236px;">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus1">1+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8809677721063_002.jpg' %}" alt="8806371301614.jpg"
                                class="prod_img"> <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>노가리먹태1입</p>
                            </div>
                            <div class="price"><strong>5,500</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_4895230503478_002.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>미니언즈판박이젤리60G</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_4895230503409_002.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>월리판박이젤리60G</p>
                            </div>
                            <div class="price"><strong>2,000</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8809786290115_001.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>마라오징어30G</p>
                            </div>
                            <div class="price"><strong>3,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8809786290146_001.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>버터오징어30G</p>
                            </div>
                            <div class="price"><strong>3,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_8809786290153_002.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>쯔란오징어30G</p>
                            </div>
                            <div class="price"><strong>3,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_3415581105292_294.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>딸기파인트</p>
                            </div>
                            <div class="price"><strong>13,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_3415581119299_301.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>마카다미아파인트</p>
                            </div>
                            <div class="price"><strong>13,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_3415581126297_299.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>녹차파인트</p>
                            </div>
                            <div class="price"><strong>13,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="prod_list">
                <a class="prod_item">
                    <div class="prod_wrap">
                        <span class="plus2">2+1</span>
                        <div class="prod_img">
                            <img src="{% static 'logo,img/gs25/1+1/GD_3415582304298_001.jpg' %}" alt="8801047161677.jpg"
                                class="prod_img">
                            <!-- 상품 이미지 -->
                        </div>
                        <div class="prod_text">
                            <div class="name">
                                <p>바닐라라즈베리파인트</p>
                            </div>
                            <div class="price"><strong>13,900</strong><span class="won">원</span></div>
                        </div>
                    </div>
                </a>
            </div>

        </ul>
    </div>


    <a href="http://gs25.gsretail.com/gscvs/ko/products/event-goods#;"><i class="fa-solid fa-plus control"></i></a>




    <!-- footer -->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>
</body>

</html>