{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>사이트맵 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    {% include "./layout/font.html" %}

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/sitemap.css' %}">
</head>

<body>

    <!-- nav -->
    {% include "./layout/nav.html" %}



    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> 홈 가이드 &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">사이트맵</span>
    </div>

    <!-- left_menu -->

    {% include "./layout/left_menu.html" %}



    <!--section part-->
    <div class="allsection">

        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/전체메뉴로고.png' %}">
        </div>



        <!--section1-->
        <div class="first">
            <a href="{% url 'information' %}">
                <img class="price" src="{% static 'logo,img/sitemap/물가정보.png' %}">
            </a>
            <a href="{% url 'news' %}">
                <img class="news" src="{% static 'logo,img/sitemap/뉴스기사.png' %}">
            </a>
            <a href="{% url 'sale' %}">
                <img class="sale" src="{% static 'logo,img/sitemap/할인정보.png' %}">
            </a>
            <a href="{% url 'QnA' %}">
                <img class="service" src="{% static 'logo,img/sitemap/고객센터.png' %}">
            </a>
        </div>



        <!--section2-->
        <div class="section2">
            <div class="fruits">
                <img class="mm" src="{% static 'logo,img/sitemap/과일.png' %}">
                <br>
                <div class="fruit_f">
                    <a href="/information/과일/사과/">
                        <img class="apple" src="{% static 'logo,img/sitemap/사과.png' %}">
                    </a>
                    <a href="/information/과일/배/">
                        <img class="apple" src="{% static 'logo,img/sitemap/배.png' %}">
                    </a>
                    <a href="/information/과일/레몬/">
                        <img class="apple" src="{% static 'logo,img/sitemap/레몬.png' %}">
                    </a>
                    <a href="/information/과일/파인애플/">
                        <img class="apple" src="{% static 'logo,img/sitemap/파인애플.png' %}">
                    </a>
                </div>
            </div>

            <div class="vegetables">
                <img class="mm" src="{% static 'logo,img/sitemap/채소.png' %}">
                <br>
                <div class="vegetables_v">
                    <a href="/information/채소/당근/">
                        <img class="apple" src="{% static 'logo,img/sitemap/당근.png' %}">
                    </a>
                    <a href="/information/채소/파/">
                        <img class="apple" src="{% static 'logo,img/sitemap/대파.png' %}">
                    </a>
                    <a href="/information/채소/깐마늘(국산)/">
                        <img class="apple" src="{% static 'logo,img/sitemap/마늘.png' %}">
                    </a>
                    <a href="/information/채소/양파/">
                        <img class="apple" src="{% static 'logo,img/sitemap/양파.png' %}">
                    </a>
                    <a href="/information/채소/오이/">
                        <img class="apple" src="{% static 'logo,img/sitemap/오이.png' %}">
                    </a>
                </div>
            </div>

            <div class="rice">
                <img class="mm" src="{% static 'logo,img/sitemap/쌀잡곡.png' %}">
                <br>
                <div class="rice_r">
                    <a href="/information/쌀_잡곡/쌀/">
                        <img class="apple" src="{% static 'logo,img/sitemap/일반미.png' %}">
                    </a>
                    <a href="/information/쌀_잡곡/찹쌀/">
                        <img class="apple" src="{% static 'logo,img/sitemap/찹쌀.png' %}">
                    </a>
                    <a href="/information/쌀_잡곡/콩/">
                        <img class="apple" src="{% static 'logo,img/sitemap/콩.png' %}">
                    </a>
                    <a href="/information/쌀_잡곡/고구마/">
                        <img class="apple" src="{% static 'logo,img/sitemap/고구마.png' %}">
                    </a>
                    <a href="/information/쌀_잡곡/감자/">
                        <img class="apple" src="{% static 'logo,img/sitemap/감자.png' %}">
                    </a>
                </div>
            </div>

            <div class="fish">
                <img class="mm" src="{% static 'logo,img/sitemap/수산물.png' %}">
                <br>
                <div class="fish_f">
                    <a href="/information/수산물/고등어/">
                        <img class="apple" src="{% static 'logo,img/sitemap/고등어.png' %}">
                    </a>
                    <a href="/information/수산물/갈치/">
                        <img class="apple" src="{% static 'logo,img/sitemap/갈치.png' %}">
                    </a>
                    <a href="/information/수산물/꽁치/">
                        <img class="apple" src="{% static 'logo,img/sitemap/꽁치.png' %}">
                    </a>
                    <a href="/information/수산물/물오징어/">
                        <img class="apple" src="{% static 'logo,img/sitemap/물오징어.png' %}">
                    </a>
                    <a href="/information/수산물/새우/">
                        <img class="apple" src="{% static 'logo,img/sitemap/새우.png' %}">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    {% include "./layout/footer.html" %}
</body>

</html>