{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>사이트맵 - 바스켓 'SEOUL</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo,img/webicon2.png' %}">

    <!--font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://webfontworld.github.io/GmarketSans/GmarketSans.css" rel="stylesheet">

    <!--javascript-->
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/sitemap.css' %}">
</head>

<body>

    <!-- nav -->
    <header>
        <div class="header_tiny">
            <div class="tiny_menu">
                <a href="{% url 'index' %}">HOME</a><a href="#"></a>|<a href="{% url 'sitemap' %}">전체메뉴</a>
            </div>
        </div>

        <div class="first">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo,img/logo/Logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="lnb">
                <ul class="main_menu">
                    <li><a href="{% url 'information' %}" class="btn1">물가정보</a></li>

                    <li><a href="{% url 'news' %}" class="btn2">뉴스기사</a></li>

                    <li><a href="{% url 'sale' %}" class="btn3">할인정보</a></li>

                    <li><a href="{% url 'QnA' %}" class="btn4">고객센터</a></li>

                    <li><a href="{% url 'search' %}" class="btn5"><img src="{% static 'logo,img/돋보기.png' %}"></a></li>

                </ul>
            </div>
        </div>
    </header>



    <!--nav_bottom-->
    <div class="nav_bottom">
        <i class="fas fa-home"></i> 홈 가이드 &nbsp;
        <i class="fa-solid fa-angle-right"></i> &nbsp;
        <span class="allmenu">사이트맵</span>
    </div>

      <!-- left_menu -->

      <div class="l_menu">
        <div class="left_logo">
            <br><br><br><br><br><br><br><br><br>
            <img class="bgo" src="{% static 'logo,img/바로가기_left.png' %}">
            <hr class="second_hr">
        </div>

        <div class="left">
            <ul class="left_m">
                <li><a href="#none" class="fruit">과 일</a>
                    <div class="sub_menu">
                        <a href="{% url 'fruit-apple' %}">사과</a>
                        <a href="{% url 'fruit-pear' %}">배</a>
                        <a href="{% url 'fruit-lemon' %}">레몬</a>
                        <a href="{% url 'fruit-fineapple' %}">파인애플</a>
                    </div>
                </li>

                <li><a href="#none" class="vegetables">채 소</a>
                    <div class="sub_menu">
                        <a href="{% url 'vegetable-carrot' %}">당근</a>
                        <a href="{% url 'vegetable-greenonion' %}">대파</a>
                        <a href="{% url 'vegetable-garlic' %}">마늘</a>
                        <a href="{% url 'vegetable-onion' %}">양파</a>
                        <a href="{% url 'vegetable-cucumber' %}">오이</a>
                    </div>
                </li>

                <li><a href="#none" class="rice">쌀 / 잡곡</a>
                    <div class="sub_menu">
                        <a href="{% url 'rice-white' %}">일반미</a>
                        <a href="{% url 'rice-sticky' %}">찹쌀</a>
                        <a href="{% url 'rice-bean' %}">콩</a>
                        <a href="{% url 'rice-sweetpotato' %}">고구마</a>
                        <a href="{% url 'rice-potato' %}">감자</a>
                    </div>
                </li>

                <li><a href="#none" class="fish">수 산 물</a>
                    <div class="sub_menu">
                        <a href="{% url 'fish-mackerel' %}">고등어</a>
                        <a href="{% url 'fish-hairtail' %}">갈치</a>
                        <a href="{% url 'fish-croaker' %}">꽁치</a>
                        <a href="{% url 'fish-squid' %}">물오징어</a>
                        <a href="{% url 'fish-shrimp' %}">새우</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <!--section part-->
    <div class="allsection">

        <!--title-->
        <div class="title">
            <img src="{% static 'logo,img/전체메뉴로고.png' %}">
        </div>



        <!--section1-->
        <div class="first">
            <a href="{% url 'information' %}">
                <img class="price" src="{% static 'logo,img/sitemap/물가정보.png' %}">
            </a>
            <a href="{% url 'news' %}">
                <img class="news" src="{% static 'logo,img/sitemap/뉴스기사.png' %}">
            </a>
            <a href="{% url 'sale' %}">
                <img class="sale" src="{% static 'logo,img/sitemap/할인정보.png' %}">
            </a>
            <a href="{% url 'QnA' %}">
                <img class="service" src="{% static 'logo,img/sitemap/고객센터.png' %}">
            </a>
        </div>



        <!--section2-->
        <div class="section2">
            <div class="fruits">
                <img class="mm" src="{% static 'logo,img/sitemap/과일.png' %}">
                <br>
                <div class="fruit_f">
                    <a href="{% url 'fruit-apple' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/사과.png' %}">
                    </a>
                    <a href="{% url 'fruit-pear' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/배.png' %}">
                    </a>
                    <a href="{% url 'fruit-lemon' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/레몬.png' %}">
                    </a>
                    <a href="{% url 'fruit-fineapple' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/파인애플.png' %}">
                    </a>
                </div>
            </div>

            <div class="vegetables">
                <img class="mm" src="{% static 'logo,img/sitemap/채소.png' %}">
                <br>
                <div class="vegetables_v">
                    <a href="{% url 'vegetable-carrot' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/당근.png' %}">
                    </a>
                    <a href="{% url 'vegetable-greenonion' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/대파.png' %}">
                    </a>
                    <a href="{% url 'vegetable-garlic' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/마늘.png' %}">
                    </a>
                    <a href="{% url 'vegetable-onion' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/양파.png' %}">
                    </a>
                    <a href="{% url 'vegetable-cucumber' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/오이.png' %}">
                    </a>
                </div>
            </div>

            <div class="rice">
                <img class="mm" src="{% static 'logo,img/sitemap/쌀잡곡.png' %}">
                <br>
                <div class="rice_r">
                    <a href="{% url 'rice-sweetpotato' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/일반미.png' %}">
                    </a>
                    <a href="{% url 'rice-sticky' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/찹쌀.png' %}">
                    </a>
                    <a href="{% url 'rice-bean' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/콩.png' %}">
                    </a>
                    <a href="{% url 'rice-sweetpotato' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/고구마.png' %}">
                    </a>
                    <a href="{% url 'rice-potato' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/감자.png' %}">
                    </a>
                </div>
            </div>

            <div class="fish">
                <img class="mm" src="{% static 'logo,img/sitemap/수산물.png' %}">
                <br>
                <div class="fish_f">
                    <a href="{% url 'fish-mackerel' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/고등어.png' %}">
                    </a>
                    <a href="{% url 'fish-hairtail' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/갈치.png' %}">
                    </a>
                    <a href="{% url 'fish-croaker' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/꽁치.png' %}">
                    </a>
                    <a href="{% url 'fish-squid' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/물오징어.png' %}">
                    </a>
                    <a href="{% url 'fish-shrimp' %}">
                        <img class="apple" src="{% static 'logo,img/sitemap/새우.png' %}">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>
</body>

</html>