{% load static %}

<!--footer-->
    <div class="footer">
        <div class="f_wrap">
            <div class="wrap2">
                <div class="tiny_footer">
                    <a class="personal" href="#">개인정보처리방침</a>
                    &nbsp;·&nbsp;
                    <a class="email" href="#">이메일무단수집거부</a>
                </div>
            </div>
            <div class="adress">
                <p>서울 서초구 바우뫼로20길 8 &nbsp;&nbsp;&nbsp; 대표전화 : 02-1234-5678</p>
                <p>COPYRIGHT © 바스켓 서울. ALL RIGHTS RESEVED.</p>
            </div>
        </div>
    </div>