@charset "utf-8";

/*zeroize*/
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

html {
    font-family: 'GmarketSans';
    font-weight: light;
}

body {
    background-color: #f6f6ec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}



/* header_tiny */
header {
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 170px;
}

header .header_tiny {
    height: 60px;
}

header .header_tiny a {
    color: #000;
    display: inline-block;
    padding-left: 10px;
    font-size: small;
    margin-top: 20px;
}

header .header_tiny .tiny_menu {
    color: #000;
    float: right;
    margin-right: 260px;
}

header .header_tiny .tiny_menu>a:hover {
    text-decoration: none;
    font-weight: bold;
}



/* main_menu */

.first {
    display: flex;
    width: 1380px;
    height: 50px;
    position: relative;
}

.first .logo {
    margin: 0px 0px 30px 355px;
}

.lnb .main_menu {
    width: 1120px;
    height: 50px;
    margin-top: 30px;
    display: inline-flex;
    text-align: center;
    position: absolute;
    margin-left: 80px;
}

.lnb .main_menu>li {
    width: 100%;
}

.main_menu li>a {
    width: 100%;
    display: inline-block, flex;
    font-size: 22px;
}

.main_menu li>a:hover {
    font-weight: 800;
}

.main_menu li>.btn5 {
    top: 0;
    margin-right: 50px;
    border-radius: 50px;
}

.main_menu li>.btn5:hover {
    filter: drop-shadow(0 0 3px rgba(33, 33, 33, .2));
}





/* btn1 */
.main_menu li>.btn1::after {
    content: '';
    height: 3px;
    background-color: #247b47;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 58.5px;
    width: 10%;
    transition: .3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.main_menu li>.btn1:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/* btn2 */
.main_menu li>.btn2::after {
    content: '';
    height: 3px;
    background-color: #ef6804;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 282.5px;
    width: 10%;
    transition: .3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.main_menu li>.btn2:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/* btn3 */
.main_menu li>.btn3::after {
    content: '';
    height: 3px;
    background-color: #247b47;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 508px;
    width: 10%;
    transition: .3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.main_menu li>.btn3:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/* btn4 */
.main_menu li>.btn4::after {
    content: '';
    height: 3px;
    background-color: #ef6804;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 730px;
    width: 10%;
    transition: .3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.main_menu li>.btn4:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/*nav_bottom*/
.nav_bottom {
    width: 200px;
    margin-left: 360px;
    margin-top: 10px;
    font-size: 13px;
}

.nav_bottom .allmenu:hover {
    text-decoration: underline;
}

/* left_menu */
.l_menu {
    float: left;
    background-color: #fff;
    width: 150px;
    height: 3110px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    box-shadow: 0 5px 15px rgba(78, 78, 78, 0.15);
}

.left_logo .bgo {
    margin-top: 20%;
    margin-left: 55px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.left_logo .second_hr {
    margin-left: 53px;
    margin-top: 15px;
    width: 50px;
    height: 4px;
    background-color: #000;
    border: 0;
}

.l_menu .left {
    margin-top: 15px;
    color: black;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.left_m li>.fruit:hover {
    text-decoration: none;
    font-weight: bold;
}

.left_m li>.vegetables:hover {
    text-decoration: none;
    font-weight: bold;
}

.left_m li>.rice:hover {
    text-decoration: none;
    font-weight: bold;
}

.left_m li>.fish:hover {
    text-decoration: none;
    font-weight: bold;
}



/* sub_menu */
.left .left_m .sub_menu {
    transition: all .3s;
}

.left .left_m .sub_menu>a {
    display: block;
    font-size: 15px;
    font-weight: lighter;
    line-height: 35px;
}

.left_m li:hover a {
    font-weight: bold;
}

.left_m a:hover {
    text-decoration: underline;
}

.left_m .sub_menu {
    display: none;
}

.left_m li:hover .sub_menu {
    display: block;
}

/*search*/

.searchbox {
    width: 1000px;
    margin-top: 50px;
    margin-left: 550px;
    margin-bottom: 30px;
}

.what {
    margin-bottom: 25px;
    margin-left: 125px;
    background-color: transparent;
}

.header {
    background: none;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.header {
    text-transform: uppercase;
    margin-left: 60px;
}

#value {
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    margin-left: 20px;
    padding: 6px;
    font-size: 18px;
}

#value:focus {
    outline: none;
}


.search-r {
    width: 800px;
    height: 80px;
    margin-left: 740px;
    margin-bottom: 35px;
}

.search-r .s-n {
    width: 150px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 20px;
}

.search-r2 .search-r2 {
    display: flex;
}

.search-r .s-n1 {
    width: 80px;
    height: 20px;
    padding: 8px;
    margin-left: 10px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 25px;
    border: 1px solid rgb(165, 164, 164);
}



/*search_result*/
.search {
    width: 1000px;
    margin-left: 600px;
    text-align: center;
    margin-top: 25px;
}


.search .bold {
    font-weight: 800;
}

.search-result .result-d {
    font-size: 30px;
    font-weight: 800;
}

.search-result .result-kind {
    font-size: 30px;
    font-weight: 800;
}






/* footer */

.footer {
    width: 85%;
    height: 160px;
    background: #f7f1e7;
    float: right;
    bottom: 0;
    margin-top: 200px;
    margin-bottom: 0;
    transform: translateY(100%);
    padding: 20px 0px 0px 0px;
    border-radius: 55px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 26px 0px;
}

.footer .f_wrap {
    margin-left: 80px;
}

.footer .tiny_footer {
    width: 350px;
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}

.footer .tiny_footer .personal {
    color: #247b47;
    font-weight: bold;
}

.footer .tiny_footer .email {
    font-weight: 600;
}

.footer .tiny_footer a:hover {
    font-weight: 900;
}

.footer .wrap2 {
    height: 30px;
    display: flex;
}

.footer .adress {
    width: 500px;
    margin-top: 40px;
}

.footer .adress p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 10px;
    margin-left: 0;
}